html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: none;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 640px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

/* FINISH HIM! */
#finish-him, #finish-him-overlay {
    margin: auto;
    width: 640px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

/*#finish-him-overlay {
    background-color: black;
    opacity: 0;
}*/

#finish-him {
    height: 200px;
    text-align: center;
    color: blueviolet;
}

#finish-him h1 {
    font-size: 3em;
    font-family: sans-serif;
}

/*#finish-him button {
    font-size: 1.5em;
}*/


/* Title Screen */
#title-screen {
    margin: auto;
    width: 640px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image : url(../img/TITLE.PNG);
    display : none;
}

.load-progress {
    position : absolute;
    left : 0;
    bottom : 0;
    height : 16px;
    width : 400px;
    background-color : #00AAAA;
    font-size: small;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    margin-left: 8px;
    
}